@media screen and (min-width: 601px) {
    :root {
        --principal: #002147;
        --secundaria: #FFD700;
    }

    #menu {
        display: block;
    }

    #menu-icon {
        display: none;
    }

    #container-menu {
        background-color: var(--principal);
        height: 30px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
    }

    #menu a:hover {
        color: darkgray;
    }
}

/*COMPUTADOR*/
@media screen and (min-width: 992px) {
    body {
        background-color: wheat;
    }

    header, main, footer {
        max-width: 1500px;
        margin: 0px auto;
    }

    /*TODAS AS SECTIONs de FUNDO BRANCO*/
    #segundadobra, #quintadobra, #sextadobra, #orcamento {
        background-color: white;
    }

    /*TODAS AS SECTIONs CONTAINER*/
    div.container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    #terceiradobra, #quartadobra, #quintadobra, #sextadobra {
        padding: 50px;
    }

    /*PARÁGRAFO DAS TERCEIRA E QUARTA DOBRA*/
    #terceiradobra p, #quartadobra p {
        width: 400px;
    }

    /*APARECER SEXTA DOBRA*/
    #sextadobra {
        display: block;
    }

    /*PAI DAS QUINTA E SEXTA DOBRA*/
    div.provas-sociais {
        flex-flow: row wrap;
    }
    
    /*FILHOS*/
    .box {
        width: 290px;
    }

    /*SECTION DA SEÇÃO 'SOBRE NÓS'*/
    #sobrenos {
        height: 400px;
    }

    #sobrenos div {
        width: 800px;
    }
}