@media screen and (min-width: 601px) {
    :root {
        --principal: #002147;
        --secundaria: #FFD700;
    }

    #menu {
        display: block;
    }

    #menu-icon {
        display: none;
    }

    #container-menu {
        background-color: var(--principal);
        height: 30px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
    }

    #menu a:hover {
        color: darkgray;
        cursor: pointer;
    }
}

/*COMPUTADOR*/
@media screen and (min-width: 992px) {
    :root {
        --titulos-font: bold 40px 'Montserrat', serif;
    }

    body {
        background-color: wheat;
    }

    header, main, footer {
        max-width: 1500px;
        margin: 0px auto;
    }

    h2 {
        font: var(--titulos-font);
    }

    p {
        font-size: 18px;
    }

    /*TODAS AS SECTIONs de FUNDO BRANCO*/
    #segundadobra, #quintadobra, #sextadobra, #orcamento {
        background-color: white;
    }

    section.container {
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
    }

    /*TODAS AS SECTIONs CONTAINER*/
    div.container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 15px;
    }

    #terceiradobra, #quartadobra, #quintadobra, #sextadobra {
        padding: 20px 50px;
    }

    /*PARÁGRAFO DAS TERCEIRA E QUARTA DOBRA*/
    #terceiradobra p, #quartadobra p {
        width: 400px;
    }

    /*APARECER SEXTA DOBRA*/
    #sextadobra {
        display: block;
    }

    /*PAI DAS QUINTA E SEXTA DOBRA*/
    div.provas-sociais {
        flex-flow: row wrap;
    }
    
    /*FILHOS*/
    .box {
        width: 290px;
    }

    /*SECTION DA SEÇÃO 'SOBRE NÓS'*/
    #sobrenos div {
        width: 900px;
    }

    /*FORMULÁRIO FINAL*/
    #orcamento {
        background-color: #f5f5f5;
        padding-bottom: 50px;
    }
}