@media screen and (min-width: 550px) {
    header h1 {
        font-size: 30px;
    }

    header h2 {
        font-size: 20px;
    }

    section h3 {
        font-size: 30px;
    }
}

/*TELAS MAIORES do QUE 890PX de LARGURA*/
@media screen and (min-width: 890px) {
    
    /*CABEÇALHO*/
    header, main, footer {
        max-width: 1200px;
        margin: 0px auto;
    }

    header h1 {
        font-size: 2.2em;
    }

   
    section {
        padding-bottom: 10px;
    }

    /*DIVs das IMAGENS*/
    div.container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }

    div.box {
        width: 550px;
        height: 250px;
        padding: 10px;
    }

    /*RODAPÉ*/
    div#footerflex {
        justify-content: flex-start;
    }

    div#footerflex-child h3 {
        font-size: 30px;
    }
}